@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .pokedex-ratio {
        aspect-ratio: 12/9;
    }
}

* {
    box-sizing: border-box;
}

.screen-shape {
    clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 10% 100%, 0 90%, 0 0);
}
.left-shape {
    clip-path: polygon(100% -10%, 30% 8%, 0% 8%, 0% 18%, 0% 100%, 100% 100%)
}
.right-shape {
    clip-path: polygon(0% 0%, 40% 0%, 66% 8%, 100% 8%, 100% 100%, 0% 100%)
}
.stripes {
    background: repeating-linear-gradient(
            0deg,
            #000000,
            #000000 4px,
            transparent 2px,
            transparent 10px
    );
}